header_t {
	color: #C0F26A;
}

footer_b {
	background-color: #F5F6F7;
}

content_b {
	background-color: #F5F6F7;
}

navitem_t {
	color: #A3BD00;
}

header_b {
	background-color: #2D4200;
}

navitem_bh {
	background-color: #2D4200;
}

navitem_th {
	color: #CE322B;
}

navitem_b {
	background-color: #2D4200;
}

content_t {
	color: #2D4200;
}

sidebar_b {
	background-color: #2D4200;
}

